//@import "~bootstrap/scss/bootstrap";
//@import "~nprogress/nprogress";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;400&display=swap');

//$nprogressColor: #ffcd38;

//body, html {}


/*
#nprogress {
    .bar, .spinner {
        z-index: 9999;
    }
    .bar {
        background: $nprogressColor !important;
    }
    .spinner {
        .spinner-icon {
            border-top-color: $nprogressColor !important;
            border-left-color: $nprogressColor !important;
        }
    }
}

*/