@import '~draft-js/dist/Draft.css';
@import '~react-draft-wysiwyg/dist/react-draft-wysiwyg.css';

//@import "~nprogress/nprogress";
//@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
//$nprogressColor: #ffcd38;

//body, html {}

/*
#nprogress {
    .bar, .spinner {
        z-index: 9999;
    }
    .bar {
        background: $nprogressColor !important;
    }
    .spinner {
        .spinner-icon {
            border-top-color: $nprogressColor !important;
            border-left-color: $nprogressColor !important;
        }
    }
}
*/

.theme-mode-toggle-label {
  cursor: pointer;
  position: absolute;
    left: 0px;
    right: 0px;
    top: -2px;
    width: 100%;
    height: 100%;
}

.theme-mode-toggle {
    --size: 1rem;
    appearance: none;
    outline: none;
    cursor: pointer;
    
    width: var(--size);
    height: var(--size);
    box-shadow: inset calc(var(--size) * 0.33) calc(var(--size) * -0.25) 0;
    border-radius: 999px;
    color: #202020;
    
    transition: all 500ms;
    
    &:checked {
      --ray-size: calc(var(--size) * -0.4);
      --offset-orthogonal: calc(var(--size) * 0.75);
      --offset-diagonal: calc(var(--size) * 0.55);
  
      transform: scale(0.75);
      color: #fff;
      box-shadow: 
        inset 0 0 0 var(--size),
        calc(var(--offset-orthogonal) * -1) 0 0 var(--ray-size),
        var(--offset-orthogonal) 0 0 var(--ray-size),
        0 calc(var(--offset-orthogonal) * -1) 0 var(--ray-size),
        0 var(--offset-orthogonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
        var(--offset-diagonal) var(--offset-diagonal) 0 var(--ray-size),
        calc(var(--offset-diagonal) * -1) var(--offset-diagonal) 0 var(--ray-size),
        var(--offset-diagonal) calc(var(--offset-diagonal) * -1) 0 var(--ray-size),
      ;
    }
  }
  
  .theme-mode-toggle  {
    z-index: 1;
    &:checked {
      & ~ .background {
        --bg: white;
      }
      & ~ .title {
        --color: hsl(40, 100%, 50%);
      }
    }
  }
  
  .title {
    --color: hsl(240, 100%, 95%);
    color: var(--color);
    z-index: 1;
    cursor: pointer;
    display: block;
    padding: 0.5rem 0 0;
    transition: color 500ms;
  }